* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0056b3;
}

.container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    background-color: #98c5dd;
    border-radius: 8px;

}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.input-field {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.validation-msg {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: red;
}

.validation-msg.valid {
    color: green;
}

.input-field.invalid {
    border-color: red;
}

.input-field.valid {
    border-color: green;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}